:root {
    --bg-main: #282828;
    --bg-aside: #171717;
    --bg-footer: #3e3e3e;
    --main-color: #1ed760;
    --font-main: #FFFFFF;
}

@font-face {
    font-family: spotify;
    src: url(../FONTS/Metropolis-SemiBold.otf);
}

* {
    box-sizing: border-box;
    color: var(--font-main);
    font-family: spotify;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-footer);
    min-height: 100vh;
}

nav {
    background: rgb(57, 57, 57);
    background: linear-gradient(180deg, rgba(57, 57, 57, 1) 35%, rgba(30, 30, 30, 1) 100%);
}

.container {
    background-color: var(--bg-main);
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
}

.botones-Mac {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin-bottom: 1rem;
}

.botones-Mac .btn {
    background-color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}

.botones-Mac .btn:nth-child(1) {
    background-color: red;
}

.botones-Mac .btn:nth-child(2) {
    background-color: orange;
}

.botones-Mac .btn:nth-child(3) {
    background-color: var(--main-color);
}

.botones-Mac .btn:hover {
    transform: scale(1.2);
    transition: all 0.25s ease-out;
    cursor: pointer;
}

aside {
    background-color: var(--bg-aside);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.filtros {
    background-color: var(--bg-footer);
    margin-top: 1rem;
    border-radius: 0.2rem;
    padding: 0.4rem 1rem;
}

.filtros .filter-drop {
    display: flex;
    align-items: center;
}

.filtros .filter-drop:hover {
    cursor: pointer;
}

.display-none {
    display: none;
}

.filtros p:hover {
    color: var(--font-main);
    cursor: pointer;
}

.filtros .filter-drop i,
.filtros .filter-drop p,
.filtros p {
    color: #c8c8c8;
}

.song-img-zone {
    background-color: var(--bg-footer);
    margin-left: -1rem;
    margin-bottom: -1rem;
    margin-right: -1rem;
    margin-top: auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}

.song-img {
    width: 10rem;
    height: 100%;
}

#top {
    padding-top: 1rem !important;
}

#top,
#bot {
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user img {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.input-search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--font-main);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 300px;
}

.input-search i {
    position: absolute;
    left: 1rem;
    font-size: 1.2rem;
    color: var(--bg-aside);
}

.input-search input {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: transparent;
    color: var(--bg-aside);
    outline: none;
}

.input-search input::placeholder {
    color: var(--bg-main);
}

#bot p {
    font-size: 1.5rem;
}

.pause i:hover {
    color: var(--main-color);
    cursor: pointer;
    transform: scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.btn-pause {
    background-color: var(--main-color);
    color: var(--font-main);
    border: none;
    margin-right: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.btn-pause:hover {
    background-color: #00c344;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.btn-pause:disabled {
    background-color: #01491a;
    color: #2e2e2e;
    cursor: default;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

section {
    overflow-y: auto;
    height: 75vh;
    padding: 0 1rem;
}

#tabla-canciones table {
    width: 100%;
}

section::-webkit-scrollbar {
    display: none;
}

table .btn {
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    border-radius: 100%;
    display: none;
}

table .btn i {
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--bg-footer);
}

.song-left {
    text-align: start;
}

table td,
table th {
    padding: 1rem;
    text-align: center;
}

table tbody tr:hover,
table tbody tr:focus {
    background-color: var(--bg-aside);
    cursor: pointer;
}

table tbody tr:hover .btn,
table tbody tr:focus .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx-heart,
.bxs-heart {
    font-size: 1.2rem;
    color: var(--main-color);
}

table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--bg-main);
}

footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;
    padding: 0.5rem 2rem;
    position: sticky;
    bottom: 0;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-footer);
}

footer div {
    display: flex;
    align-items: center;
    height: 100%;
}

footer #artista-cancion {
    font-size: 0.8rem;
    display: block;
    text-shadow: 2px 2px 2px #000000;
}

footer #barra-de-cancion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #barra-de-cancion #barra-duracion {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: min-content;
}

footer #barra-de-cancion #barra-duracion input {
    width: 80%;
}

footer #barra-de-volumen {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#iconos-cancion {
    height: min-content;
}

#iconos-cancion i {
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 0.5rem;
}

#iconos-cancion i:hover {
    transition: all 0.1s linear;
    transform: scale(2);
}

.icons-verdes {
    color: #00c344;
}

.modal {
    z-index: -1;
    opacity: 0;
    transform: scale(0.95);
    background-color: #E5E5E5;
    border: 1px solid var(--main-color);
    border-radius: 1rem;
    position: absolute;
    height: fit-content;
    width: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal.show {
    z-index: 10;
    opacity: 1;
    transform: scale(1);
}

.modal p {
    color: black;
}

.modal input {
    width: 80%;
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid black;
    color: var(--bg-footer);
    font-size: 1.3rem;
    padding: 1rem;
}

.bx-x {
    color: var(--main-color);
    align-self: flex-start;
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.2s linear;
}

.bx-x:hover {
    transform: scale(1.2);
}

#user-song-title,
#user-song-artist {
    background-color: #FFFFFF;
}

#user-song-upload {
    margin: 1rem;
    background-color: var(--main-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: transform 0.2s linear;
}

#user-song-upload:hover {
    transform: scale(1.2);
}

.blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.bien {
    border: solid green 2px !important;
}

.mal {
    border: solid red 2px !important;
}

#barra-duracion .inputRange {
    appearance: none;
    width: 200px;
    height: 12px;
    border-radius: 9999px;
    background: linear-gradient(90deg, var(--bg-main) 0%, #dddddd 100%);
    cursor: pointer;
}

.inputRange {
    appearance: none;
    width: 200px;
    height: 12px;
    border-radius: 9999px;
    background: linear-gradient(90deg, var(--bg-main) 100%, #dddddd 0%);
    cursor: pointer;
}

/* Thumb: for Chrome, Safari, Edge */
.inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 9999px;
    background: var(--bg-main);
    box-shadow: none;
}

/* Thumb: for Firefox */
.inputRange::-moz-range-thumb {
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 9999px;
    background: var(--bg-main);
    box-shadow: none;
}

@media (max-width: 414px) {

    /*Movil grande*/
    nav {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .filtros {
        margin: 1rem;
    }

    #tabla-canciones {
        width: 100%;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    table td:first-child,
    table th:first-child {
        visibility: hidden;
        overflow: hidden;
        transition: visibility 0.3s ease, width 0.3s ease;
    }

    table tbody tr:focus-within td:first-child,
    table tbody tr:focus-within th:first-child {
        visibility: visible;
        width: auto;
        padding: 1rem;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    #barra-de-volumen {
        display: none !important;
    }

    footer #artista-cancion {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    footer #foot-artist {
        font-size: 1rem;
    }

    footer #foot-song {
        margin-left: 1rem;
        color: #585656;
    }

    section {
        height: 50vh;
    }

    #iconos-cancion i {
        font-size: 2rem;
    }
}

@media (max-width: 360px) {
    footer #artista-cancion {
        display: flex;
        justify-content: center;
        align-items: baseline;
        height: min-content;
    }

    footer {
        padding: 0;
    }

    footer #barra-de-cancion #barra-duracion input {
        width: 40%;
    }

    footer #barra-de-cancion #barra-duracion {
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: min-content;
    }

    section {
        height: 35vh;
    }

    section {
        padding: 0;
    }

    table thead tr th,
    table tbody tr td {
        padding: 0.5rem;
    }

    .song-img {
        width: 7rem;
        height: 100%;
    }
}